.map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
  }

  .mapContainer{
    position:relative;
    height: 100vh;
  }

  .mapDetailModal{
    position:absolute;
    top:50%;
    bottom:50%;
    left:50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width:300px;
    height: 300px;
    background-color: aliceblue;
    z-index: 1;
  }
  
  .map {
    position:relative;
    z-index:0;
    width: 100%;
    height: 100%;
  }